

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 文章列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">

      <div class="layui-card-body">
        <table id="LAY-app-appointment-list" lay-filter="LAY-app-appointment-list"></table>
        <script type="text/html" id="buttonTpl-classify">
          <!-- //1林地，2鱼塘，3果园，4菜棚，5耕地 -->
          {{#  if(d.classify == 1){ }}
            林地
          {{#  } else if(d.classify == 2) { }}
            鱼塘
          {{#  } else if(d.classify == 3) { }}
            果园
          {{#  } else if(d.classify == 4) { }}
            菜棚
          {{#  } else {}}
            耕地
          {{#  } }}
        </script>

        <script type="text/html" id="buttonTpl-bidUserName">
          {{#  if(d.state == 0){ }}
            <a class="layui-btn layui-btn-primary layui-btn-radius layui-btn-xs" lay-event="addCollect"></i>未处理</a>
          {{#  } else { }}
            <a class="layui-btn layui-btn-radius layui-btn-xs" lay-event="cancelCollect"></i>已处理</a>
          {{#  } }}
        </script>



        <script type="text/html" id="table-content-list">
          <!-- 确认处理 || 处理完成 -->
          {{#  if(d.state == 0 ){ }}
            <a class="layui-btn  layui-btn-xs" style="background-color: #645951d5;" lay-event="sure">
              <i class="layui-icon layui-icon-edit"></i>确认处理
            </a>
          {{#  } else { }}
            <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-ok"></i>处理完成</a>
          {{#  } }}
        </script>
      </div>

      <button style="display: none;" type="button" class="layui-btn" id="agreement-file">
        <i class="layui-icon">&#xe67c;</i>上传文件
      </button>
    </div>
  </div>



  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
    ,adminlist: 'adminview/adminlist'
  }).use(['index' ,'adminlist', 'table'], function(){
    var table = layui.table
    ,admin = layui.admin
    ,laydate = layui.laydate
    ,upload = layui.upload
    ,setter = layui.setter
    ,form = layui.form;
  

    //监听搜索
    form.on('submit(LAY-app-appointment-search)', function(data){
      var field = data.field;
    
      //执行重载
      table.reload('LAY-app-appointment-list', {
        where: field
      });
    });
  




    console.log("执行到这里了")

    var $ = layui.$, active = {

    }; 

    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
  </script>
</body>
</html>
